@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/manrope/Manrope-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/manrope/Manrope-Bold.ttf") format("ttf");
}
