body,
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #e7e6e4;
  background-color: #0e0f0f;
  background: linear-gradient(-45deg, #000000, #2f2f2e);
  background-size: 100% 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  display: flex;
  flex-direction: column;
}
button {
  min-width: 75px;
}
h2 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Styles for desktop */
@media (min-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    column-gap: 1rem;
    max-width: 700px;
  }
  h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 0.75rem;
    font-family: "Playfair Display", serif;
  }
  p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
    margin-right: 5rem;
  }
}

/* Styles for tiny mobile */
@media (max-width: 343px) {
  .main {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    margin: 2rem;
    max-width: 500px;
  }
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1rem;
    font-family: "Playfair Display", serif;
    line-height: 1;
  }
  p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
  }
}
/* Styles for mobile */
@media (min-width: 344px) and (max-width: 600px) {
  .main {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    margin: 2rem;
    max-width: 500px;
  }
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1rem;
    font-family: "Playfair Display", serif;
    line-height: 0.7;
  }
  p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
  }
}
@media (max-width: 600px) {
  button {
    background-color: white;
    border: 0;
    color: black;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
    width: 75px;
    padding: 4px 6px;
    font-weight: 500;
    font-size: 18px;
  }
  button:hover {
    background-color: rgb(221, 221, 221);
  }

  .button-inner {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 600px) {
  button {
    background-color: white;
    border: 0;
    color: black;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;

    font-weight: 500;
    font-size: 24px;
  }
  button:hover {
    background-color: rgb(221, 221, 221);
  }
  .button-inner {
    padding: 1rem;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Styles for Desktop */
@media (min-width: 600px) {
  body {
    justify-content: center;
    align-items: center;
  }

  section {
    margin: 0;
  }
}

/* Styles for Mobile */
@media (max-width: 600px) {
  body {
    align-items: end;
  }

  section {
    margin-bottom: 0;
  }
}

/* Header Styles */
header {
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Full width */
  color: #fff; /* Text color */
  padding-top: 1rem;
  text-align: center; /* Center the text */
  z-index: 1000; /* Ensure it stays above other content */
}
