body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #e7e6e4;
  background-color: #0e0f0f;
  background: linear-gradient(-45deg, #000000, #2f2f2e);
  background-size: 100% 100%;
}
section {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin: 2rem;
  max-width: 700px;
}
.main {
  display: flex;
  flex-direction: column;
}
button {
  min-width: 75px;
}
h1 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
}
p {
  margin: 0;
  margin-top: 0.25rem;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
}
